<div class="hero">
    <div class="users-holder">
        <app-usersview></app-usersview>
        <app-usersview></app-usersview>
        <app-usersview></app-usersview>
        <app-usersview></app-usersview>
        <app-usersview></app-usersview>
        <app-usersview></app-usersview>
        <app-usersview></app-usersview>
        <app-usersview></app-usersview>
        <app-usersview></app-usersview>
        <app-usersview></app-usersview>
        <app-usersview></app-usersview>
        <app-usersview></app-usersview>
        <app-usersview></app-usersview>
        <app-usersview></app-usersview>
        <app-usersview></app-usersview>
        <app-usersview></app-usersview>
        <app-usersview></app-usersview>
    </div>
</div>