<div class="main">
  <div id="signup">
    <div class="d-flex justify-content-center heading">SIGNUP</div>
    <form #form="ngForm">
      <div class="mt-2">
        <label for="name"><span>Name</span></label>
        <input class="inputbox-outline form-control" #name="ngModel" type="text" name="name"
          [(ngModel)]="userData.lastName" maxlength="25" required>
      </div>
      <div class="text-danger" *ngIf="name.invalid && name.touched">
        <div *ngIf="name.errors?.['required']">last name is required.</div>
      </div>
      <div class="mt-2">
        <label for="email"><span>Email</span></label>
        <input class="inputbox-outline form-control" type="email" name="email" [(ngModel)]="userData.email"
          #email="ngModel" required>
      </div>
      <div class="text-danger" *ngIf="email.invalid && email.touched">
        <div *ngIf="email.errors?.['minlength']">Email is too short.</div>
        <div *ngIf="email.errors?.['required']">Email is required.</div>
        <div *ngIf="email.errors?.['pattern']">Email is invalid.</div>
      </div>
      <div class="mt-2">
        <label for="phone"><span>Phone</span></label>
        <input class="inputbox-outline form-control" type="text" name="phone" [(ngModel)]="userData.phone"
          minlength="10" maxlength="10" pattern="[6-9]{1}[0-9]{9}" #phone="ngModel" required>
      </div>
      <div class="text-danger" *ngIf="phone.invalid && phone.touched">
        <div *ngIf="phone.errors?.['minlength']">number is not valid.</div>
        <div *ngIf="phone.errors?.['required']">number is required.</div>
        <div *ngIf="phone.errors?.['maxlength']">number is not valid.</div>
        <div *ngIf="phone.errors?.['pattern']">phone is invalid.</div>
      </div>
      <div class="mt-2">
        <label for="district"><span>District</span></label>
        <input class="inputbox-outline form-control" type="text" name="district" [(ngModel)]="userData.district"
          minlength="3" maxlength="15" #district="ngModel" required>
      </div>
      <div class="text-danger" *ngIf="district.invalid && district.touched">
        <div *ngIf="district.errors?.['required']">District is required.</div>
      </div>
      <div class="mt-2">
        <label for="bloodgroup"><span>Blood Group</span> </label>
        <input class="inputbox-outline form-control" type="text" name="bloodgroup" [(ngModel)]="userData.bloodgroup"
          #blood="ngModel" required>
      </div>
      <div class="text-danger" *ngIf="blood.invalid && blood.touched">
        <div *ngIf="blood.errors?.['required']">Blood group is required.</div>
      </div>
      <div class="mt-2">
        <label for="dob"><span>DOB</span></label>
        <input class="inputbox-outline form-control" type="date" name="dob" [(ngModel)]="userData.dob" #dob="ngModel"
          (change)="handleDob(dob)" required>
      </div>
      <div class="text-danger">
        <div *ngIf="status">Age is less than 18</div>
      </div>
      <div class="text-danger" *ngIf="dob.invalid && dob.touched">
        <div *ngIf="dob.errors?.['required']">Age is required</div>
      </div>
      <div class="mt-2">
        <label><span>Gender</span></label>
        <label for="male"><span class="signup-text-styles mx-2">Male</span></label>
        <input type="radio" name="male" [(ngModel)]="userData.gender" required>
        <label for="female"><span class="signup-text-styles mx-2">Female</span></label>
        <input type="radio" name="male" [(ngModel)]="userData.gender" required>
      </div>
      <div class="mt-2">
        <label for="email"><span>Password </span></label>
        <input class="inputbox-outline form-control" type="password" name="password" [(ngModel)]="userData.password"
          minlength="6" maxlength="15" #password="ngModel" (change)="storePassword($event)" required>
      </div>
      <div class="text-danger" *ngIf="password.invalid && password.touched">
        <div *ngIf="password.errors?.['minlength']">Password is too small.</div>
        <div *ngIf="password.errors?.['maxlength']">Password is too long.</div>
        <div *ngIf="password.errors?.['required']">Password is required.</div>
      </div>
      <div class="mt-2">
        <label for="email"><span>Confirm password</span> </label>
        <input class="inputbox-outline form-control" type="password" name="temporarypass"
          [(ngModel)]="userData.temporarypass" minlength="6" maxlength="15" #cpassword="ngModel"
          (change)="handlePassword($event)" required>
      </div>
      <div class="text-danger" *ngIf="display">
        <div>Password doesn't match.</div>
      </div>
      <div class="text-danger" *ngIf="password.invalid && password.touched">
        <div *ngIf="cpassword.errors?.['minlength']">Password is too small.</div>
        <div *ngIf="cpassword.errors?.['maxlength']">Password is too long.</div>
        <div *ngIf="cpassword.errors?.['required']">Password is required.</div>
      </div>
      <div class="mt-4 d-flex justify-content-center ">
        <button class="center" [disabled]="form.invalid">Sign up</button>
      </div>
    </form>
  </div>
</div>