<nav>
    <div class="logo-holder">
        <a [routerLink]="'/'"><img src="../../../assets/image/logodark.png" alt="mydonor-logo"></a>
    </div>
    <div class="middle-menu">
        <ul>
            <li><a [routerLink]="'/admin/customer-manage'">Customer management</a></li>
            <li><a [routerLink]="'/admin/managers'">Manager management</a></li>
            <li><a [routerLink]="'/admin/feedback'">Feedback view</a></li>
            <li><a [routerLink]="'/'">Logout</a></li>
        </ul>
    </div>
    <img src="../../../assets/icons/menu.png" class="menu" alt="menu-icon" (click)="show()">
</nav>
<app-admin-sidebar [ngStyle]="{'display':buttonClicked ? 'none' : 'block' }"></app-admin-sidebar>