<main id="hero">
    <h1 class="slogan">People live when people give <span>.</span></h1>
    <section id="middlesection">
        <div class="searchholder">
            <form>
                <label for="bloodgroup">Blood Group</label>
                <select name="bloodgroup" id="bloodgroup" placeholder="bloodgroup" [(ngModel)]="model.bloodid">
                    <option value="1">A+</option>
                    <option value="2">A-</option>
                    <option value="3">B+</option>
                    <option value="4">AB+</option>
                    <option value="5">AB-</option>
                    <option value="6">B-</option>
                    <option value="7">O+</option>
                    <option value="8">O-</option>
                  </select>
                  <label for="district">District</label>
                <select name="district" id="district" placeholder="district" [(ngModel)]="model.districtid">
                    <option value="1">Trivandrum</option>
                    <option value="2">Kollam</option>
                    <option value="3">Pathanamthitta</option>
                    <option value="4">Kottayam</option>
                    <option value="5">Ernakulam</option>
                    <option value="6">Idukki</option>
                    <option value="7">Alappuzha</option>
                    <option value="8">Thrissur</option>
                    <option value="9">Palakkad</option>
                    <option value="10">Kozhikod</option>
                    <option value="11">Wayand</option>
                    <option value="12">Kannur</option>
                    <option value="13">Malappuram</option>
                    <option value="14">Kasargod</option>
                  </select>
                <button type="submit" id="search" (click)="saveData()" [routerLink]="'/customer/purchase'">Search</button>
                <button [routerLink]="'/customer/booking'">Donate</button>
            </form>
        </div>
        <div class="dashboard">
            <app-userinfo-holder class="mb-3" *ngFor="let user of users" [test]="user"></app-userinfo-holder>
        </div>
    </section>
</main>