.not-found {
    height: 100vh;
    background-color: #111;
    display: grid;
    place-items: center;
}

.not-found h1 {
    font-weight: 600;
    font-size: 5rem;
    color: #0000;
    animation: blinker 0.05s linear 10 forwards alternate;
}

@keyframes blinker {
    0% {
        -webkit-text-stroke: 1px #ff004f;

    }

    50% {
        color: #ff004f;
        text-shadow: 0 0 60px #ff004f;
        -webkit-text-stroke: 1px #ff417d;
    }

    100% {
        color: #fff;
        text-shadow: 0 0 60px #fff;
    }
}

@media only screen and (max-width:900px) {
    .not-found {
        background-color: #111;
    }

    .not-found h1 {
        font-size: 2rem;
    }
}