#main {
  background: url(../../../assets/image/background.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.overlay {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(50px);
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

.input-holder {
  width: 30rem;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  gap: 0.3rem;
}

.input-holder label {
  color: #fff;
  font-weight: 600;
}

.input-holder input,
select,
button {
  height: 2rem;
  padding: 0 1rem;
  border: 0;
  outline: 0;
  border-radius: 5px;
}

.slots {
  width: 40%;
  height: fit-content;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 3rem;
}

.timeschedule {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  margin-top: 3rem;
}

.timeschedule h2 {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: 5px;
}