#main {
  background-image: url('../../../assets/images/background.png');
  background-position: center;
  background-size: cover;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
    margin: 0;
  }

  .flex-item {
    width: 100px;
    height: 100px;
  }
}

.flex-item-content {
  width: 30px;
  height: 30px;
  background-color: #d30000;
  border-radius: 50%;
}

.active{
  background-color: #00ff2f;
}

.flex-item {
  flex-basis: 20%;
  height: 5rem;
  display: grid;
  place-items: center;
}

.flex-item p {
  font-size: 1rem;
}

.flex-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.box {
  width: 50%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border-radius: 15px;
  border: 2px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 1rem;
}

@media only screen and (max-width: 900px) {
  .box {
    width: 90%;
  }

  .flex-container {
    flex-direction: column;
    margin: 0;
  }

  .flex-item {
    width: 100px;
    height: 100px;
  }
}

.input {
  flex-basis: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

#time-slot {
  border: none;
  outline: 0;
  font-size: 1.5rem;
  padding: 0 1rem;
  background-color: rgba(255, 255, 255, 0.8);
}

.heading {
  color: #fff;
  font-weight: 300;
}