<section id="main">
  <div class="overlay">
    <form class="input-holder">
      <label for="district">Enter District</label>
      <select name="district" id="district">
        <option value="1">Trivandrum</option>
        <option value="2">Kollam</option>
        <option value="3">Pathanamthitta</option>
        <option value="4">Kottayam</option>
        <option value="5">Ernakulam</option>
        <option value="6">Idukki</option>
        <option value="7">Alappuzha</option>
        <option value="8">Thrissur</option>
        <option value="9">Palakkad</option>
        <option value="10">Kozhikod</option>
        <option value="11">Wayand</option>
        <option value="12">Kannur</option>
        <option value="13">Malappuram</option>
        <option value="14">Kasargod</option>
      </select>
      <label for="date">Select date</label>
      <input type="date" name="date">
      <button type="submit" class="btn btn-danger mt-3">Search Bookings</button>
    </form>

<!-- ---slot-window--- -->

    <div class="slots">
      <h4>24-02-2023</h4>
      <h4 class="text-danger">Trivandrum</h4>
      <div class="timeschedule">
        <h2>10:00</h2>
        <h2>11:00</h2>
        <h2>12:00</h2>
        <h2>01:00</h2>
      </div>
    </div>
    
  </div>
</section>