<section id="main">
  <div class="flex-container">
    <div class="box">
      <div class="flex-item text-danger ">
        <p>9.00 - 10.00AM</p>
        <div class="flex-item-content active"></div>
      </div>
      <div class="flex-item text-danger">
        <p>10.00 - 11.00AM</p>
        <div class="flex-item-content active"></div>
      </div>
      <div class="flex-item text-danger">
        <p>11.00 - 12.00PM</p>
        <div class="flex-item-content"></div>
      </div>
      <div class="flex-item text-danger">
        <p>12.00 - 1.00PM</p>
        <div class="flex-item-content"></div>
      </div>
      <div class="flex-item text-danger">
        <p>1.00 - 2.00PM</p>
        <div class="flex-item-content active"></div>
      </div>
      <div class="flex-item text-danger">
        <p>2.00 - 3.00PM</p>
        <div class="flex-item-content"></div>
      </div>
      <div class="flex-item text-danger">
        <p>3.00 - 4.00PM</p>
        <div class="flex-item-content"></div>
      </div>
      <div class="flex-item text-danger">
        <p>4.00 - 5.00PM</p>
        <div class="flex-item-content"></div>
      </div>
      <div class="flex-item text-danger">
        <p>5.00 - 6.00PM</p>
        <div class="flex-item-content"></div>
      </div>
      <div class="flex-item text-danger">
        <p>6.00 - 7.00PM</p>
        <div class="flex-item-content"></div>
      </div>
      <div class="input">
        <div class="text-center heading">SELECT YOUR SLOT</div>
        <select name="time" id="time-slot" class="text-danger">
          <option value="default">Choose Time</option>
          <option value="time1">09.00 - 10.00</option>
          <option value="time2">10.00 - 11.00</option>
          <option value="time3">11.00 - 12.00</option>
          <option value="time3">12.00 - 01.00</option>
          <option value="time4">01.00 - 02.00</option>
          <option value="time4">02.00 - 03.00</option>
          <option value="time4">03.00 - 04.00</option>
          <option value="time4">04.00 - 05.00</option>
        </select>
      </div>
    </div>
  </div>
</section>
