<div id="hero">
    <h1 class="text-center text-danger my-4">Manager Registration</h1>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                <div>
                    <label for="email">Email</label>
                    <input type="email" 
                    name="email" [(ngModel)]="model.email" 
                    #email="ngModel" 
                    class="form-control"
                    placeholder="someone@example.com" 
                    required 
                    minlength="5" 
                    maxlength="70"
                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                    <div class="text-danger" *ngIf="email.invalid && email.touched">
                        <div *ngIf="email.errors?.['minlength']"> Email is too short.</div>
                        <div *ngIf="email.errors?.['required']">Email is required.</div>
                        <div *ngIf="email.errors?.['maxlength']">Email is too long.</div>
                        <div *ngIf="email.errors?.['pattern']">Email is invalid.</div>
                    </div>
                </div>
                <div>
                    <label for="district">District</label>
                    <div>
                        <select name="district" id="district" class="form-control">
                            <option value="Trivandrum">Trivandrum</option>
                            <option value="Kollam">Kollam</option>
                            <option value="Pathanamthitta">Pathanamthitta</option>
                            <option value="Alappuzha">Alappuzha</option>
                            <option value="Kottayam">Kottayam</option>
                            <option value="Idukki">Idukki</option>
                            <option value="Ernakulam">Ernakulam</option>
                            <option value="Thrissur">Thrissur</option>
                            <option value="Palakkad">Palakkad</option>
                            <option value="Malappuram">Malappuram</option>
                            <option value="Kozhikode">Kozhikodu</option>
                            <option value="Wayanad">Wayanad</option>
                            <option value="Kannur">Kannur</option>
                            <option value="Kasaragod">Kasaragod</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" 
                    name="password" 
                    [(ngModel)]="model.password" 
                    #password="ngModel"
                    class="form-control" 
                    minlength="6" 
                    maxlength="25" 
                    (change)="storePassword($event)" 
                    required>
                    <div class="text-danger" *ngIf="password.invalid && password.touched">
                        <div *ngIf="password.errors?.['minlength']">Password is too small.</div>
                        <div *ngIf="password.errors?.['maxlength']">Password is too long.</div>
                        <div *ngIf="password.errors?.['required']">Password is required.</div>
                    </div>
                </div>
                <div>
                    <label for="cpassword">Confirm Password</label>
                    <input type="password" 
                    name="cpassword" 
                    [(ngModel)]="model.cpassword" 
                    #cpassword="ngModel"
                    class="form-control" 
                    minlength="6" 
                    maxlength="25" 
                    (change)="handlePassword($event)" 
                    required>
                    <div class="text-danger" *ngIf="password.invalid && password.touched">
                        <div *ngIf="password.errors?.['minlength']">Password is too small.</div>
                        <div *ngIf="password.errors?.['maxlength']">Password is too long.</div>
                        <div *ngIf="password.errors?.['required']">Password is required.</div>
                    </div>
                    <div class="text-danger" *ngIf="display">
                        <div>Password doesn't match</div>
                    </div>
                </div>
                <div class="d-grid my-3">
                    <button type="submit" class="btn btn-danger" [disabled]="form.invalid">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>