<div class="hero">
  <div class="purchase-holder">
    <h1>RESULTS A+ve</h1>
    <div class="search-result">
      <div class="image-and-stock">
        <img src="../../../assets/image/bloodbag-image.png" alt="blood bag">
        <h2><span>100</span> Units</h2>
      </div>
      <div class="button-group">
        <button>+</button>
        <h2>1</h2>
        <button>-</button>
      </div>
      <button class="btn-purchase" [routerLink]="'/customer/payment'">Purchase</button>
    </div>
  </div>
</div>
