<nav>
    <div class="logo-holder">
        <a [routerLink]="'/'"><img src="../../../assets/image/logodark.png" alt="mydonor-logo"></a>
    </div>
    <div class="middle-menu">
        <ul>
            <li><a [routerLink]="'/customer/home'">Home</a></li>
            <li><a [routerLink]="'/history'">History</a></li>
            <li><a [routerLink]="'/active-appointment'">Active Appointment</a></li>
        </ul>
    </div>
    <a class="DP" [routerLink]="'/customer/profile'"><img src="../../../assets/image/avatar-image.png"
            alt="User profile picture"></a>
</nav>