nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0 1rem;
    width: 100%;
    height: 3rem;
    z-index: 5;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.logo-holder {
    max-width: 10rem;
}

.logo-holder img {
    width: 100%;
    height: 100%;
}

.middle-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}

.middle-menu ul {
    height: 100%;
    display: flex;
    align-items: center;
}

.middle-menu ul li {
    display: inline-flex;
    list-style: none;
    font-weight: 500;
    font-size: 1rem;
    margin: 0 1rem;
    align-items: center;
}

.middle-menu ul li a {
    text-decoration: none;
    color: #d30000;
    position: relative;
}

.middle-menu ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #333;
    transition: 0.5s;
}

.middle-menu ul li a:hover::after {
    width: 100%;
}

.dp {
    background-color: #d30000;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    margin-right: 1rem;
}

.dp img {
    width: 35px;
    border-radius: 50%;
}

@media only screen and (max-width:900px) {
    .middle-menu {
        display: none;
    }
}