.hero {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: url(../../../assets/image/Background.png);
    background-size: cover;
    background-position: center;
}

.profile-holder {
    height: fit-content;
    flex-basis: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    border: 3px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: relative;
    margin-right: 3rem;
}

.profile-holder a img {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 30px;
    margin: 0;
}

.profile-holder img {
    width: 150px;
    border-radius: 50%;
    margin: 2rem;
}

.userdata-holder {
    color: #fff;
    text-align: left;
}

.userdata-holder h1 {
    font-weight: 300;
    font-size: 1.8rem;
    padding: 0 1rem;
}

.userdata-holder p {
    color: #d30000;
    background-color: #111;
    padding: 2px 10px;
    font-weight: 700;
    margin: 0;
}

.userdata-holder h2 {
    font-size: 1.2rem;
    font-weight: 100;
    margin: 5px 0;
    padding: 0 1rem;
}

.userdata-holder h3 {
    font-weight: 100;
    max-width: 20rem;
    font-size: 1rem;
    padding: 0 2rem;
    text-align: justify;
}

@media only screen and (max-width:900px) {
    .profile-holder {
        flex-basis: 100%;
    }
}