<div class="hero">
    <div class="profile-holder">
        <a [routerLink]="'/editprofile'"><img src="../../../assets/icons/edit-icon.svg" title="Edit profile"
                alt="Edit-icon"></a>
        <img src="../../../assets/image/avatar-image.jpg" alt="customer-profile-picture">
        <div class="userdata-holder">
            <p>Name</p>
            <h1>Aravind K</h1>
            <p>Username</p>
            <h2>aravind@gmail.com</h2>
            <p>Mobile</p>
            <h2>8281837678</h2>
            <p>Address</p>
            <h3>Lorem ipsum dolor sit amet.</h3>
        </div>
    </div>
    <app-customer-profile-edit></app-customer-profile-edit>
</div>