<nav>
    <div class="logo-holder">
        <img src="../../../assets/image/logodark.png" alt="mydonor-logo">
    </div>
    <div class="middle-menu">
        <ul>
            <li><a routerLink="">About</a></li>
            <li><a routerLink="">Login</a></li>
            <li><a routerLink="">Signup</a></li>
        </ul>
    </div>
    <div class="right-menu">
        <ul>
            <li><a routerLink="">Buy</a></li>
            <li><a routerLink="">Donate</a></li>
        </ul>
    </div>
</nav>