<div class="hero">
    <div class="register">
        <button type="submit" 
        class="btn btn-success"
        [routerLink]="'/admin/managerregistration'">
            Register
        </button>
    </div>
    <div class="manager-holder">
        <app-managerview></app-managerview>
        <app-managerview></app-managerview>
        <app-managerview></app-managerview>
        <app-managerview></app-managerview>
        <app-managerview></app-managerview>
        <app-managerview></app-managerview>
        <app-managerview></app-managerview>
        <app-managerview></app-managerview>
        <app-managerview></app-managerview>
        <app-managerview></app-managerview>
        <app-managerview></app-managerview>
        <app-managerview></app-managerview>
        <app-managerview></app-managerview>
        <app-managerview></app-managerview>
        <app-managerview></app-managerview>
        <app-managerview></app-managerview>
        <app-managerview></app-managerview>
    </div>
</div>