<h1 class="text-center text-danger pt-5">PAYMENT</h1>

<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-sm-6 ">
            <label for="totalunits" name="totalUnits">Total Units</label>
            <input type="number" name="totalUnits" readonly>
        </div>
        <div class="col-sm-6">
            <label for="totalprice" name="totalPrice">Total Price</label>
            <input type="number" name="totalPrice" readonly>
        </div>
    </div>

    <form #form="ngForm" (ngSubmit)="payment()">
    <div class="d-grid justify-content-center form-control details col-sm-12 form-group">
        <div class="cardnumber form-control col-sm-12 my-3 w-20 mt-3">
            <label for="cardnumber" name="cardNumber">Card Number </label>
            <input type="tel" 
            class="form-control" 
            id="cardnumber" 
            [(ngModel)]="model.cardnumber" 
            name="cardNumber"
            #cardnumber="ngModel" 
            minlength="16" 
            maxlength="16"
            required
            pattern="-?[0-9]+(\.[0-9][0-9]?)?">
        </div>
        <div class="text-danger" *ngIf="cardnumber.invalid && cardnumber.touched">
            <div *ngIf="cardnumber.errors?.['minlength']">Enter a valid card number</div>
            <div *ngIf="cardnumber.errors?.['required']">Card number is required</div>
            <div *ngIf="cardnumber.errors?.['pattern']">Invalid format</div>
          </div>

        <div class="name form-control col-sm-12 my-3 w-20 mt-3">
            <label for="cardholder" name="cardHolder">Card Holder Name</label>
            <input type="text" 
            name="cardHolder"
            [(ngModel)]="model.cardholder"
            #cardholder="ngModel"
            required>
        </div>
        <div class="text-danger" *ngIf="cardholder.invalid && cardholder.touched">
            <div *ngIf="cardholder.errors?.['required']">Name is required.</div>
        </div>

        <div class="expirydatex form-control my-3 w-20 mt-3">
            <label for="expirydate" name="expiryDate">Expiry </label>
            <input type="month"
            class="form-control" 
            name="expiryDate" 
            [(ngModel)]="model.expirydate"
            #expirydate="ngModel"
            min="{{minDate}}"
            required>
        </div>
        <div class="text-danger" *ngIf="expirydate.invalid && expirydate.touched">
            <div *ngIf="expirydate.errors?.['required']">Expiry date is required.</div>
        </div>

        <div class="cvv form-control col-sm-12 my-3 w-20 mt-3">
            <label for="cvv" class="fst-italic" name="cvv">cvv </label>
            <input type="tel" 
            class="form-control"
            name="cvv" 
            [(ngModel)]="model.cvv"
            #cvv="ngModel"
            minlength="3" 
            maxlength="3"
            required
            pattern="-?[0-9]+(\.[0-9][0-9]?)?">
        </div>
        <div class="text-danger" *ngIf="cvv.invalid && cvv.touched">
            <div *ngIf="cvv.errors?.['minlength']">Enter correct cvv.</div>
            <div *ngIf="cvv.errors?.['required']"> CVV is required.</div>
            <div *ngIf="cvv.errors?.['pattern']">Invalid format.</div>
        </div>
        <div class="container d-grid my-3 w-50 mt-3">
            <button type="submit" class="btn btn-danger" [disabled]="form.invalid">PAY</button>
        </div>
    </div>
    </form>
</div>