<h1 class="text-center text-danger pt-5">PAYMENT</h1>

<div class="container-fluid " id="main">
    <div class="row">
        <div class="col-sm-6 ">
            <label for="totalunits" name="totalUnits">Total Units</label>
            <input type="number" name="totalUnits" readonly>
        </div>
        <div class="col-sm-6">
            <label for="totalprice" name="totalPrice">Total Price</label>
            <input type="number" name="totalPrice" readonly>
        </div>
    </div>
    <div class="d-grid justify-content-center form-control details col-sm-12 form-group">
        <div class="cardnumber form-control col-sm-12 my-3 w-20 mt-3">
            <label for="cardnumber" name="cardNumber">Card Number </label>
            <input type="tel" name="cardNumber" minlength="16" maxlength="16">
        </div>
        <div class="name form-control col-sm-12 my-3 w-20 mt-3">
            <label for="cardholder" name="cardHolder">Card Holder Name </label>
            <input type="text" name="cardHolder">
        </div>
        <div class="expirydatex form-control my-3 w-20 mt-3">
            <label for="expirydate" name="expiryDate">Expiry </label>
            <input type="month" name="expiryDate" min="{{minDate}}">
        </div>
        <div class="cvv form-control col-sm-12 my-3 w-20 mt-3">
            <label for="cvv" class="fst-italic" name="cvv">cvv </label>
            <input type="tel" name="cvv" minlength="3" maxlength="3">
        </div>
        <div class="container d-grid my-3 w-50 mt-3">
            <button type="submit" class="btn btn-primary">PAY</button>
        </div>
    </div>
</div>