.hero {
    height: 100vh;
    background: url(../../../assets/image/Background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.stockview-holder {
    height: 70%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    border: 1px solid #fff;
    border-radius: 20px;
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    overflow: scroll;
}

.stockview-holder::-webkit-scrollbar{
    display: none;
}

@media only screen and (max-width:900px){
    .stockview-holder{
        width: 90%;
    }
}