#signup {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    border: 1px solid #fff;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    width: 35%;
    padding: 2rem;
}

.main {
    width: 100%;
    height: fit-content;
    background:url(../../../assets/image/background.png);
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
    padding: 5rem 0;
}

label {
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff;
}

.heading {
    color: #d30000;
    font-size: 1.8rem;
    font-weight: 600;
    width: fit-content;
    background-color: #fff;
    padding: 0 1rem;
    border-radius: 5px;
}

.signup-text-styles {
    color: #333;
    font-weight: bold;
}

.inputbox-outline {
    border: none;
    outline: 0;
    background-color: #fff;
}

.inputbox-outline:focus {
    background-color: #eee;
}

.div-spacing {
    display: flex;
    justify-content: space-evenly;
}

.heading-text {
    font-size: 1.5rem;
    font-weight: bolder;
}

button {
    width: 100%;
    height: 2rem;
    background: #d30000;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 5px;
}

@media only screen and (max-width:900px) {
    #signup {
        width: 100%;
    }
}