.appoinment-holder {
  width: 100%;
  background-color: #d30000;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

h3 {
  color: #fff;
  font-size: 1.5rem;
}
